data/itmp/com.cgn.components.core.ui/src/com/cgn/components/coframe/RoleService.wsdl

<wsdl:definitions xmlns:ns2="http://data.interfaces.coframe.components.gocom.org" xmlns:ns1="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://lang.java" xmlns:nns="http://www.primeton.com/RoleService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RoleServiceService" targetNamespace="http://www.primeton.com/RoleService">
<wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://data.interfaces.coframe.components.gocom.org">
<xsd:complexType name="OrgGroupSource">
<xsd:sequence>
<xsd:element minOccurs="0" name="groupcode" nillable="true" type="ns1:string"/>
<xsd:element minOccurs="0" name="groupid" nillable="true" type="ns1:string"/>
<xsd:element minOccurs="0" name="grouplevel" nillable="true" type="ns1:string"/>
<xsd:element minOccurs="0" name="groupname" nillable="true" type="ns1:string"/>
<xsd:element minOccurs="0" name="groupseq" nillable="true" type="ns1:string"/>
<xsd:element minOccurs="0" name="parentgroupid" nillable="true" type="ns1:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfOrgGroupSource">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="OrgGroupSource" nillable="true" type="ns2:OrgGroupSource"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="EmployeeSource">
<xsd:sequence>
<xsd:element minOccurs="0" name="empgender" nillable="true" type="ns1:string"/>
<xsd:element minOccurs="0" name="empid" nillable="true" type="ns1:string"/>
<xsd:element minOccurs="0" name="empname" nillable="true" type="ns1:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfEmployeeSource">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="EmployeeSource" nillable="true" type="ns2:EmployeeSource"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="EmployeeSourceExt">
<xsd:sequence>
<xsd:element minOccurs="0" name="empgender" nillable="true" type="ns1:string"/>
<xsd:element minOccurs="0" name="empid" nillable="true" type="ns1:string"/>
<xsd:element minOccurs="0" name="empname" nillable="true" type="ns1:string"/>
<xsd:element minOccurs="0" name="orgcode" nillable="true" type="ns1:string"/>
<xsd:element minOccurs="0" name="orgid" nillable="true" type="ns1:string"/>
<xsd:element minOccurs="0" name="orgname" nillable="true" type="ns1:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfEmployeeSourceExt">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="EmployeeSourceExt" nillable="true" type="ns2:EmployeeSourceExt"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CapRoleSource">
<xsd:sequence>
<xsd:element minOccurs="0" name="roleAppId" nillable="true" type="ns1:string"/>
<xsd:element minOccurs="0" name="roleCode" nillable="true" type="ns1:string"/>
<xsd:element minOccurs="0" name="roleDesc" nillable="true" type="ns1:string"/>
<xsd:element minOccurs="0" name="roleId" nillable="true" type="ns1:string"/>
<xsd:element minOccurs="0" name="roleName" nillable="true" type="ns1:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfCapRoleSource">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CapRoleSource" nillable="true" type="ns2:CapRoleSource"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://lang.java">
<xsd:complexType name="Exception"/>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.primeton.com/RoleService">
<xsd:element name="getRoleByAppCode_Exception" type="ns0:Exception"/>
<xsd:element name="getEmpListByRole_Exception" type="ns0:Exception"/>
<xsd:element name="getEmpListByRoleInfo_Exception" type="ns0:Exception"/>
<xsd:element name="getEmpListByOrgAndRole_Exception" type="ns0:Exception"/>
<xsd:element name="getEmpListByRoleInfoExt_Exception" type="ns0:Exception"/>
<xsd:element name="fingGroupByAppcode_Exception" type="ns0:Exception"/>
<xsd:element name="getRoleByAppCode">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getRoleByAppCodeResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:ArrayOfCapRoleSource"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getEmpListByRole">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="in2" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getEmpListByRoleResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:ArrayOfEmployeeSource"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getEmpListByRoleInfo">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="in3" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getEmpListByRoleInfoResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:ArrayOfEmployeeSource"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getEmpListByOrgAndRole">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getEmpListByOrgAndRoleResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:ArrayOfEmployeeSource"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getEmpListByRoleInfoExt">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="in2" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getEmpListByRoleInfoExtResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:ArrayOfEmployeeSourceExt"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="fingGroupByAppcode">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="fingGroupByAppcodeResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:ArrayOfOrgGroupSource"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="getEmpListByRoleInfo">
<wsdl:part name="getEmpListByRoleInfo" element="nns:getEmpListByRoleInfo"> </wsdl:part>
</wsdl:message>
<wsdl:message name="fingGroupByAppcode">
<wsdl:part name="fingGroupByAppcode" element="nns:fingGroupByAppcode"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getEmpListByRoleInfoResponse">
<wsdl:part name="getEmpListByRoleInfoResponse" element="nns:getEmpListByRoleInfoResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getEmpListByOrgAndRole_Exception">
<wsdl:part name="Exception" element="nns:getEmpListByOrgAndRole_Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getEmpListByRoleInfoExtResponse">
<wsdl:part name="getEmpListByRoleInfoExtResponse" element="nns:getEmpListByRoleInfoExtResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getEmpListByRoleResponse">
<wsdl:part name="getEmpListByRoleResponse" element="nns:getEmpListByRoleResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getEmpListByRoleInfo_Exception">
<wsdl:part name="Exception" element="nns:getEmpListByRoleInfo_Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getEmpListByRole_Exception">
<wsdl:part name="Exception" element="nns:getEmpListByRole_Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getRoleByAppCodeResponse">
<wsdl:part name="getRoleByAppCodeResponse" element="nns:getRoleByAppCodeResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getEmpListByRole">
<wsdl:part name="getEmpListByRole" element="nns:getEmpListByRole"> </wsdl:part>
</wsdl:message>
<wsdl:message name="fingGroupByAppcode_Exception">
<wsdl:part name="Exception" element="nns:fingGroupByAppcode_Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="fingGroupByAppcodeResponse">
<wsdl:part name="fingGroupByAppcodeResponse" element="nns:fingGroupByAppcodeResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getEmpListByOrgAndRole">
<wsdl:part name="getEmpListByOrgAndRole" element="nns:getEmpListByOrgAndRole"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getRoleByAppCode_Exception">
<wsdl:part name="Exception" element="nns:getRoleByAppCode_Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getEmpListByRoleInfoExt_Exception">
<wsdl:part name="Exception" element="nns:getEmpListByRoleInfoExt_Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getEmpListByRoleInfoExt">
<wsdl:part name="getEmpListByRoleInfoExt" element="nns:getEmpListByRoleInfoExt"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getEmpListByOrgAndRoleResponse">
<wsdl:part name="getEmpListByOrgAndRoleResponse" element="nns:getEmpListByOrgAndRoleResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getRoleByAppCode">
<wsdl:part name="getRoleByAppCode" element="nns:getRoleByAppCode"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="RoleService">
<wsdl:operation name="getRoleByAppCode">
<wsdl:input name="getRoleByAppCode" message="nns:getRoleByAppCode"> </wsdl:input>
<wsdl:output name="getRoleByAppCodeResponse" message="nns:getRoleByAppCodeResponse"> </wsdl:output>
<wsdl:fault name="getRoleByAppCode_Exception" message="nns:getRoleByAppCode_Exception"> </wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getEmpListByRole">
<wsdl:input name="getEmpListByRole" message="nns:getEmpListByRole"> </wsdl:input>
<wsdl:output name="getEmpListByRoleResponse" message="nns:getEmpListByRoleResponse"> </wsdl:output>
<wsdl:fault name="getEmpListByRole_Exception" message="nns:getEmpListByRole_Exception"> </wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getEmpListByRoleInfo">
<wsdl:input name="getEmpListByRoleInfo" message="nns:getEmpListByRoleInfo"> </wsdl:input>
<wsdl:output name="getEmpListByRoleInfoResponse" message="nns:getEmpListByRoleInfoResponse"> </wsdl:output>
<wsdl:fault name="getEmpListByRoleInfo_Exception" message="nns:getEmpListByRoleInfo_Exception"> </wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getEmpListByOrgAndRole">
<wsdl:input name="getEmpListByOrgAndRole" message="nns:getEmpListByOrgAndRole"> </wsdl:input>
<wsdl:output name="getEmpListByOrgAndRoleResponse" message="nns:getEmpListByOrgAndRoleResponse"> </wsdl:output>
<wsdl:fault name="getEmpListByOrgAndRole_Exception" message="nns:getEmpListByOrgAndRole_Exception"> </wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getEmpListByRoleInfoExt">
<wsdl:input name="getEmpListByRoleInfoExt" message="nns:getEmpListByRoleInfoExt"> </wsdl:input>
<wsdl:output name="getEmpListByRoleInfoExtResponse" message="nns:getEmpListByRoleInfoExtResponse"> </wsdl:output>
<wsdl:fault name="getEmpListByRoleInfoExt_Exception" message="nns:getEmpListByRoleInfoExt_Exception"> </wsdl:fault>
</wsdl:operation>
<wsdl:operation name="fingGroupByAppcode">
<wsdl:input name="fingGroupByAppcode" message="nns:fingGroupByAppcode"> </wsdl:input>
<wsdl:output name="fingGroupByAppcodeResponse" message="nns:fingGroupByAppcodeResponse"> </wsdl:output>
<wsdl:fault name="fingGroupByAppcode_Exception" message="nns:fingGroupByAppcode_Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="RoleServiceBinding" type="nns:RoleService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getRoleByAppCode">
<soap:operation soapAction=""/>
<wsdl:input name="getRoleByAppCode">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getRoleByAppCodeResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="getRoleByAppCode_Exception">
<soap:fault name="getRoleByAppCode_Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getEmpListByRole">
<soap:operation soapAction=""/>
<wsdl:input name="getEmpListByRole">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getEmpListByRoleResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="getEmpListByRole_Exception">
<soap:fault name="getEmpListByRole_Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getEmpListByRoleInfo">
<soap:operation soapAction=""/>
<wsdl:input name="getEmpListByRoleInfo">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getEmpListByRoleInfoResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="getEmpListByRoleInfo_Exception">
<soap:fault name="getEmpListByRoleInfo_Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getEmpListByOrgAndRole">
<soap:operation soapAction=""/>
<wsdl:input name="getEmpListByOrgAndRole">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getEmpListByOrgAndRoleResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="getEmpListByOrgAndRole_Exception">
<soap:fault name="getEmpListByOrgAndRole_Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getEmpListByRoleInfoExt">
<soap:operation soapAction=""/>
<wsdl:input name="getEmpListByRoleInfoExt">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getEmpListByRoleInfoExtResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="getEmpListByRoleInfoExt_Exception">
<soap:fault name="getEmpListByRoleInfoExt_Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="fingGroupByAppcode">
<soap:operation soapAction=""/>
<wsdl:input name="fingGroupByAppcode">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="fingGroupByAppcodeResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="fingGroupByAppcode_Exception">
<soap:fault name="fingGroupByAppcode_Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="RoleServiceService">
<wsdl:port name="RoleServicePort" binding="nns:RoleServiceBinding">
<soap:address location="http://119.29.240.41:8090/auth/RoleService"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>